:root {
    --primary-color: #0B2A50; /* */
    --secondary-color: #000F22; /**/
    --text-color: #f7f7f7;      /**/
    --accent-color: #37ab57;
    --accent-color-shade: #238f42;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Inria Sans', sans-serif;
    color: var(--text-color);
    box-sizing: border-box;
    font-weight: 100;
}

*::selection {
    background-color: var(--accent-color);
    color:var(--secondary-color);
    font-weight: 800;  
    /* nefunguje */
}



html {
    /* height: calc(100% - 157px);     */
    /* idk why this */
    /* maybe something with the right scrolling? */
}

body {
    /* margin: 0 200px; */
    /* background-color: var(--secondary-color); */
    /* margin:0 7vw ; */
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

main {

    flex:1;
    display: flex;
    flex-direction: row;
    /* margin: 0 100px; */
    /* margin: 0 9vw;
    height: max-content;
    min-width: 694px;
    background-color: var(--secondary-color);
    border-radius: 24px;
    padding: 30px;
    
    display: flex; */
    position: relative;

    background-image: linear-gradient(135deg, var(--primary-color), var(--primary-color), var(--secondary-color));


}


a {
    text-decoration: none;
}


/* ----------------- HEADER --------------------- */
#header{
    position:sticky;
    top:0px;
    z-index:1000;

}
header {
    background-color: var(--secondary-color);
    /* background: linear-gradient(to right, white 0%, var(--primary-color) 10%, var(--primary-color) 90%, white 100%); */
    /* padding: 0 200px; */
    /* padding: 0 12.5rem; */
    /* margin-bottom: 12px; */
    font-weight: 700;
}

.header-container{
    display: flex;
    align-items: center; 
    max-width: 1300px;
    margin: 0 auto;
    padding: .2rem .5rem
}

/* div#header {
    position: sticky;
    top: 0px;
} */


.logo {
    font-size: x-large;
    
    display: flex;
    align-items: center;
}

.logo-img {
    height: 60px;
    padding: 5px 10px;
    margin-right: 10px;
}

.headbuts {
    /* background-color: aquamarine; */

    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: end;
}

.headbut {
    /* height: 10px; */
    /* background-color: #eeeeee; */
    /* border: 1px #000 solid; */
    border-radius: 30px;
    padding: 10px;
    margin-left: 10px;

    /* display: flex;
    align-items: center; */
}

/*------------------- INDEX -------------------------*/

.landing{
    /* display:flex; */
    
    /* height: calc(100vh - 65px); */

    background-image: linear-gradient(135deg, var(--primary-color), var(--primary-color), var(--secondary-color));
    flex:1;
    display: flex;
    flex-direction: column;

}

.container{
    
    /* background-image: linear-gradient(135deg, #0B2A50, #0B2A50, #000F22); */
    /* background: linear-gradient(to right, white 0%, var(--primary-color) 10%, var(--primary-color) 90%, white 100%); */
    height:100vh;
    max-width: 1500px;
    margin: 0 auto;
    /* background: lime; */
    flex:1;
    display: flex;
    align-items:center

}

.landing-image{
    width: clamp(20rem, 80vmin, 70rem);   
}



.text-box {
    /* padding: 10rem; */

    width: 260px;
    text-align: center;
    min-width: 260px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    /* top: 50%; */

}

.text-box h1 {
    font-size: 3rem;
}

.text-box p{
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.text-box a{
    font-size: 1.2rem;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    border-radius: 30px;
    display: block;
    padding: 5px 15px;
    margin-top: 10px;
    width: max-content;
    align-self: center;
}
.text-box a:hover{
    background-color: var(--accent-color-shade);
}

.learn-text a{
    font-weight: bold;
    text-decoration: underline;
}

/* ------------------ LEARN ------------------- */

.toggle-aside-open{
    display:none;
}

#aside{
    background-color: var(--secondary-color);
    position:relative;
}

#aside.hidden{
    display: block;
}



.menu-btn-1 {
    height: 32px;
    padding: 0 4px;
    width: 38px;
    cursor: pointer;
    margin-left: 5px;

    /* display: none; */
}

.menu-btn-1 span,
.menu-btn-1 span::before,
.menu-btn-1 span::after {
    background: white;
    border-radius: 3px;
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;         
    margin-top: 13px; 

    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;

    /* display: none; */
}

.menu-btn-1 span::before {
    margin-top:-12px;
}

.menu-btn-1 span::after {
    margin-top:12px;
}

.menu-btn-1.active span {
    background: transparent;
}

.menu-btn-1.active span::before {
    margin-top: 0;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu-btn-1.active span::after {
    margin-top: 0;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

aside {
    /* height:100%; */
    padding: 20px 20px 20px 10px;
    /* min-width: 90px;
    max-width: 300px; */
    
    width: 250px;
    position: sticky;
    top: 66px;
    /* margin-right: 20px; */
    font-weight: 400;

    /* justify-self: start; */
}

aside ul {
    line-height: 25px;
}

.learn-text {
    background-color: var(--primary-color);
    background-image: linear-gradient(135deg, var(--primary-color), var(--primary-color), var(--secondary-color));

    height: max-content;
    /* width: 800px; */
    min-width: 365px;

    padding: 40px;
    /* margin-left: auto; */
    /* border-radius: 24px; */

    /* justify-self: end; */
    font-size: medium;
    word-spacing: 4px;
}


.learn-text h2 {
    margin-top: 30px;
    margin-bottom: 5px;
}

.learn-text h3 {
    margin-top: 5px;
}

h3::before {
    content: "→ ";
}

.text-info {
    background-color: var(--secondary-color);
    /* background-color: var(--accent-color); */
    padding: 6px 15px;
    margin: 10px;
    border-radius: 15px;

    word-spacing: 2px;
}

/* IMAGES */
.parent {
    width: auto;
    min-width: 200px;
    height: fit-content;
    /* musi byt presne px, jinak pri hover se to hybe malinko -- POZDEJI*/
    /* min-height: ; */
    overflow: hidden;
    /* border-radius: 24px; */
    margin: 20px 0;
    text-align: center;
}

.learn-img-big {
    width: 100%;
    max-width: 690px;
    /* margin: 20px 0; */
    /* border-radius: 24px; */
    background-size: cover;
}

.learn-img-small {
    max-height: 300px;
    /* border-radius: 24px; */
    background-size: cover;
}

 /* pouzivam jen jednou */
.image-descr {
    font-size: medium;
    /* font-weight: 100; */
    word-spacing: 0;
    /* text-align: start; */
}

ul {
    margin-left: 40px;
    margin-top: 5px;
}




.code{
    font-family: Consolas, 'courier new';
    color: #f1f1f1;
    background-color: #303030;
    font-size: smaller;
    word-spacing: 0px;

    border-radius: 20px;
    height: auto;
    padding: 10px 0 10px 15px;
    align-items: center;
    margin: 10px 0;

    white-space:no-wrap;

    i {
        font-family: Consolas, 'courier new';
        color: #f1f1f1;
        word-spacing: 0px;
    }
}

.code::selection, .code *::selection{
    color: var(--text-color);
}

.code2 {
    font-family: Consolas, 'courier new';
    color: crimson;
    background-color: #f1f1f1;
    font-size: smaller;
    border-radius: 50px;
    height: 30px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    word-spacing: 0px;
}



/* -------------------- QUIZ ---------------------- */

hr {
    margin: 50px 0 20px 0;
    border: 0;
    border-top: 1px solid var(--text-color);

}

.quiz {
    position: relative;
    /* width:fit-content */
    max-width: 920px ;
}

/* .quiz #quiz-container {} */

.quiz-container input:hover,
.quiz-container label:hover {
    cursor: pointer;
    /* color: var(--accent-color); */
    font-weight: bold ;
}

/* when radiobtn is checked- his label changes color */
/* !!! BUT !!!  kdyz submit, tak je porad zelenej, ale chci aby to přebylo že je wrong */
/* ani to +label  do classy wrong nefunguje */

/* tilda funguje, když mezi otázkami budou divy!! */
/* https://www.w3.org/TR/selectors/#general-sibling-combinators  == co znamena tilda a plus */
/* https://stackoverflow.com/questions/46901698/change-label-color-radio-when-checked */

/* Vyřešeno = nebudu mu měnit barvu, dám ho bold */

.quiz-answer:checked + label {
    /* color: blue; */
    /* text-decoration: underline; */
    font-weight: bold;

  }

.quiz .buttons{
    width: 100%;
    display: flex;
    justify-content: space-between 20px;
    /* justify-content: left; */
}

.quiz button {
    /* width: auto; */
    /* height: 30px; */
    padding: 5px 10px;
    margin-right: 20px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    border: 0;
    border-radius: 15px;
    background-color: var(--accent-color-shade);
}

.quiz button:hover:enabled {
    background-color: var(--accent-color);
    cursor: pointer;
}

.quiz button:active:enabled {
    background-color: var(--accent-color-shade);
}

.quiz button:disabled {
    /* background-color: rgba(239, 239, 239, 0.1); */
    background-color: rgba(55, 171, 87, 0.3);
}

.quiz-container {
    margin-bottom: 10px;
}

.quiz section {
    /* margin-bottom: 8px */
    line-height: 28px;
    /* margin-bottom: 10px; */
}

.quiz section label {
     /* odsazení od radiobuttonu */
    margin-left: 5px;
}

.quiz .result {
    background-color: var(--accent-color); 
    /* background-color: #2196F3; */
    width: 60px;
    height: 60px;
    border-radius: 50px;
    position: absolute;
    top: -15px;
    /* left: 40em; */
    right: 0;
    /* porad jezdi nekam, idk proc */
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
    cursor: default;

}

.quiz .result_label {
    cursor: default;
    font-size: 25px;
    margin: 0;
    color: var(--text-color);
    /* cerna */
    /* color: #000; */
    /* bila */
    /* color:#f0f0f0  */
}

.quiz .correct {
    color: var(--accent-color);
    font-weight: 900;
    text-decoration: none;

}

.quiz .correct::after {
    content: url(/images/buttons/correct.svg);
    margin-left: 10px;
    
}

.quiz .wrong {
    color: red;
    font-weight: 900;
    text-decoration: none;
}

.quiz .wrong::after {
    content: url(/images/buttons/wrong.svg);
    margin-left: 10px;
}


/* https://dev.to/melvin2016/how-to-put-an-image-inside-pseudo-elements-in-css-1io0 */

/* ------------------------------------------------ */

@media (width < 1050px) {
    
    .landing-image{
        width: clamp(20rem, 60vmin, 60rem);   
    }

}

@media (width < 700px) {
    .landing .container{
        flex-direction: column-reverse;
        justify-content: center;
        gap:10vh;
    }

    .learn-text{
        padding-inline: 16px;
    }

    #aside{
        position: fixed;
        width: 100%;
    }
    #aside.hidden{
        display: none;
    }

    .toggle-aside-open{
        /* on landing page:: !!!  */
        /* display: none; */

        display:block;
    }
}




/* --------------- CLASSES like bootstrap ----------------- */

.margin_top {
    margin-top: 5px;
}

.padding_left {
    padding-left: 30px;
}

.underline {
    text-decoration: underline;
}

.no-border-radius{
    border-radius: 0;
}