:root {
    --primary-color: #0B2A50; 
    --primary-color-shade: #092343; 
    --secondary-color: #000F22;    
    --text-color: #e5e5e5;      
    --accent-color: #37ab57;
    --accent-color-shade: #238f42;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Inria Sans', sans-serif;
    color: var(--text-color);
    box-sizing: border-box;
    font-weight: 100;

    /* on mobile blue overla on click */
    -webkit-tap-highlight-color: transparent;
}

*::selection {
    background-color: var(--accent-color);
    color:var(--secondary-color);
    font-weight: 800;   /*nefunguje !!!! */
   
}

body {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    
    background-color: var(--secondary-color);
}

main {
    flex:1;
    display: flex;
    flex-direction: row;
    position: relative;

    background-image: linear-gradient(135deg,  var(--primary-color), var(--secondary-color));
}

a {
    text-decoration: none;
}

u{
    text-underline-offset: 3px;
}

ul {
    margin-left: 40px;
    margin-top: 5px;
}

/* ----------------- HEADER --------------------- */

#header{
    position:sticky;
    top:0px;
    z-index:1000;

}
header {
    background-color: var(--secondary-color);
    font-weight: 700;
}

.header-container{
    display: flex;
    align-items: center; 
    max-width: 1200px;
    margin: 0 auto;
    padding: .2rem .5rem
}

.logo {
    font-size: x-large;
    
    display: flex;
    align-items: center;
}

.logo-img {
    height: 60px;
    padding: 5px 10px;
    margin-right: 10px;
}

.headbuts {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: end;
}

.headbut {
    border-radius: 30px;
    padding: 10px;
    margin-left: 10px;
}

/*------------------- INDEX -------------------------*/

.landing{
    background-image: linear-gradient(135deg, var(--primary-color), var(--primary-color), var(--secondary-color));

    flex:1;
    display: flex;
    flex-direction: column;
}

.container{
    height:100vh;
    max-width: 1500px;
    margin: 0 auto;
    flex:1;
    display: flex;
    align-items:center
}

.landing-image{
    width: clamp(20rem, 80vmin, 70rem);   
}


.text-box {
    width: 260px;
    text-align: center;
    min-width: 260px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-box h1 {
    font-size: 4rem;
}

.text-box p{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.text-box a{
    font-size: 1.3rem;
    font-weight: 500;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    border-radius: 30px;
    display: block;
    padding: 8px 20px;
    margin-top: 10px;
    width: max-content;
    align-self: center;
}
.text-box a:hover{
    background-color: var(--accent-color-shade);
}

/* -----------------ERROR 404 PAGE---------------------- */

.error{
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: 30px;
}

.error h1{
    font-size: 50px;
    max-width: 100%;
    margin-bottom: 10px;
    
    line-height:50px;
    text-align: center;
}

.error p{
    text-align: center;
    font-size: x-large;

}

.error a{
    margin: 20px;
    width: max-content;

    font-size: large;
    color: var(--secondary-color);
    font-weight: 500;
    background-color: var(--accent-color);
    border-radius: 50px;
    padding: 8px 20px;
}

.error a:hover{
    background-color: var(--accent-color-shade);
}

/* ------------------ LEARN ------------------- */

.learn-container{
    display: flex;
    flex-direction: row;
    
    margin: 0 auto; 
    width: min(100vw, 1200px);
}

/* ---- ASIDE ----  */

.toggle-aside-open{
    display:none;
}

aside {
    padding: 20px;
    width: 250px;

    position: sticky;
    top: 66px;
}

aside ul {
    line-height: 25px;
    list-style-type: none;
}
#aside ul li a{
    position:relative;
}
#aside ul li a:not(.current)::before{
    content: "";
    width:5px;
    height:5px;
    background-color: white;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    left:-20px;
    border-radius: 50%;
}

#aside ul li a.current{
    color: var(--accent-color);
    position: relative;
    margin-left:10px;
}

#aside ul li a.current::before{
    content: "➙";
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    left:-20px;
}

#aside{
    background-color: var(--secondary-color);
}

#aside.hidden{
    display: block;
}

#header.toggle-aside-hidden .toggle-aside-open {
    display: none;
    pointer-events: none;
}

/* ----- HAMBURGER MENU ----- */
.menu-btn-1 {
    height: 32px;
    padding: 0 4px;
    width: 38px;
    cursor: pointer;
    margin-left: 5px;
}

.menu-btn-1 span, .menu-btn-1 span::before, .menu-btn-1 span::after {
    background: white;
    border-radius: 3px;
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;         
    margin-top: 13px; 

    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.menu-btn-1 span::before {
    margin-top:-12px;
}

.menu-btn-1 span::after {
    margin-top:12px;
}

.menu-btn-1.active span {
    background: transparent;
}

.menu-btn-1.active span::before {
    margin-top: 0;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu-btn-1.active span::after {
    margin-top: 0;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* ------------------------------- */

.learn-text {
    height: max-content;
    min-width: 365px;
    max-width: 100%;
    
    font-size: medium;
    word-spacing: 4px;

    padding: 40px;
    flex:1;
}


.learn-text h2 {
    margin-top: 30px;
    margin-bottom: 5px;
}

.learn-text h3 {
    margin-top: 25px;
    margin-bottom: 5px;
}

.learn-text h3::before {
    content: "➙ ";
}

.learn-text h4{
    font-size: large;
}

.learn-text a{
    font-weight: bold;
    text-decoration: underline;
}

.learn-text b{
    color: #37ab57;
    font-weight: 800;
}

.text-info {
    background-color: var(--secondary-color);
    padding: 6px 15px;
    margin: 10px;
    border-radius: 15px;

    word-spacing: 2px;
}

/* -- IMAGES -- */
.parent {
    width: auto;
    height: fit-content;
    overflow: hidden;
    margin: 20px 0;
    text-align: center;
}

.learn-img-big {
    max-width: min(690px, 50vw);
    background-size: cover;
}

.learn-img-big-big{
    max-width: 100%;
}

.learn-img-medium {
    max-width:400px;
    background-size: cover;
}

.learn-img-wide-medium{

    max-width: min(500px, 50vw);
}

.learn-img-small {
    max-width:300px;
    background-size: cover;
}


.image-descr {
    font-size: medium;
    word-spacing: 0;
}

.image-source{
    font-size:small;
    word-spacing: 0;
    margin-top: 10px;
}

.gui-logo{
    width: 100px;
}

.code{
    font-family: Consolas, 'courier new';
    color: var(--text-color);
    background-color: #303030;
    font-size: smaller;
    word-spacing: 0px;

    border-radius: 20px;
    height: auto;
    padding: 10px 0 10px 15px;
    align-items: center;
    margin: 10px 0;

    white-space:no-wrap;

    i {
        font-family: Consolas, 'courier new';
    }
}

/* -------------------- QUIZ ---------------------- */

hr {
    margin: 50px 0 20px 0;
    border: 0;
    border-top: 1px solid var(--text-color);

}

.quiz {
    position: relative; 
    max-width: 920px ;
}

.quiz-container input:hover,
.quiz-container label:hover {
    cursor: pointer;
    font-weight: bold ;
}

.quiz-answer:checked + label {
    font-weight: bold;
}

.quiz .buttons{
    width: 100%;
    display: flex;
    justify-content: space-between 20px;
}

.quiz button {
    padding: 8px 15px;
    margin-right: 20px;

    font-size:medium;
    border: 0;
    border-radius: 20px;
    background-color: var(--accent-color-shade);
}

.quiz button:hover:enabled {
    background-color: var(--accent-color);
    cursor: pointer;
}

.quiz button:active:enabled {
    background-color: var(--accent-color-shade);
}

.quiz button:disabled {
    background-color: rgba(55, 171, 87, 0.3);
}

.quiz-container {
    margin-bottom: 10px;
}

.quiz section {
    line-height: 28px;
}

.quiz h3 {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
}

.quiz section label {
     /* odsazení od radiobuttonu */
    margin-left: 5px;
    color:#EEE;
}

.quiz .result {
    background-color: var(--accent-color); 
    width: 60px;
    height: 60px;
    border-radius: 50px;
    position: absolute;
    top: -15px;
    right: 0;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
    cursor: default;

}

.quiz .result_label {
    cursor: default;
    font-size: 25px;
    margin: 0;
    color: var(--text-color);
}

.quiz .correct {
    color: var(--accent-color);
    font-weight: 900;
    text-decoration: none;

}

.quiz .correct::after {
    content: url(/images/buttons/correct.svg);
    margin-left: 10px;
    
}

.quiz .wrong {
    color: red;
    font-weight: 900;
    text-decoration: none;
}

.quiz .wrong::after {
    content: url(/images/buttons/wrong.svg);
    margin-left: 10px;
}

/* --------------------- MEDIA QUERY --------------------------- */

@media (width < 1052px) {
    
    .landing-image{
        width: clamp(20rem, 60vmin, 60rem);   
    }

}


@media (width < 800px) {
    .landing .container{
        flex-direction: column-reverse;
        justify-content: center;
        gap:10vh;
    }

    .logo-img {
        height: 50px;
    }

    .headbuts{
        display:none;
    }

    
    #aside{
        position: fixed;
        width: 100%;
        z-index: 1000;
        
        text-align: center;
        display: flex;
        justify-content: center;
        max-height: 100vh;
    }
    
    #aside ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        line-height:35px ;
    }
    
    #aside ul li a:not(.current)::before{
        display: none;
    }
    
    #aside.hidden{
        display: none;
    }
    
    .toggle-aside-open{
        display:block;
    }
    
    .spacer{
        flex:1;
    }
    
    /* ------------ */
    .learn-text{
        padding: 16px;
    }
    
    .learn-img-big{
        max-width: 90vw;
    }

    .learn-img-medium{
        max-width: 75vw;
    }

    .learn-img-wide-medium{
        max-width: 90vw;
    }

    .learn-img-small{
        max-width: min(50vw, 300px); 
    }

    .gui-logo{
        width: 80px;
    }

    .quiz button {
        padding: 6px 12px;
        font-size: small;
        border: 0;
        border-radius:50px;
        background-color: var(--accent-color-shade);
    }

}

/* --------------- CLASSES like bootstrap ----------------- */

.margin_top {
    margin-top: 10px;
}
.margin_top_bigger {
    margin-top: 10px;
}

.margin-bottom{
    margin-bottom: 5px;
}

.padding_left {
    padding-left: 30px;
}

.padding-bottom{
    padding-bottom: 15px;
}

.underline {
    text-decoration: underline;
}

.no-border-radius{
    border-radius: 0;
}

.display-inline{
    display:inline;
}

.align-center{
    display: flex;
    align-items: center;
    
}   